body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    margin-top: 56px !important;
    padding: 0;
    width: 200px;
    background-color: #bfbfbf;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
.middle {
    margin: 0 auto;
    width: 70%;
    background: #ccc;
    padding: 40px;
}
.text-right{
    float:right;
}
.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}
.text-button{
    position: absolute;
    right: 188px;
    margin-top: 9px;
}
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 225px;
    padding-top: 25px;
}
.content a{
    color: #000;

}
.content a:hover{
    color: #000;
    text-decoration: none;
}
.menu_img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 15px 25px;
}
.menu_p{
    position: absolute;
    top: 147px;
    left: 37px;
    width: 100%;
}
.menu_p a:hover{
    background-color: transparent!important;
    color: #000 !important;
}
.active{
    margin-top: 30px;
}
.top_ber{
    height: 30px;
    background-color: green;
    width: 100%;
}
.topber_p {
    position: absolute;
    top: 5px;
    right: 5px;

}
.topber_p a{
    color: #fff;
}
.topber_p a:hover{
    color: #fff;
}
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }


}
